/* Transaction Header */
.transactionheader{
    display: flex;  
}
.appname{
    width: 15%;
    height: 85px;
    background-color: rgb(236, 193, 193);
    font-size: 22px;
    text-align: center;
    padding: 10px;
}
.appname h3{
    color: #5352ed;
}
.appname h4{
    padding-top: 10px;
}
.avatar{
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 85px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.avatar .logout-btn{
    font-size: 20px;
    padding: 12px 40px;
    border-radius: 4px;
    background-color: rgba(255, 42, 42, 0.945);
    color: #fff;
    border: none;
    margin-right: 40px;
    transition: 0.3s;
    cursor: pointer;
}
.avatar .logout-btn:hover {
    background-color: red;
}
/* Transaction Side Panle */
.transaction-side-panel{
    /* border: 2px solid green; */
    width: 230px;
    padding: 10px;
    /* position: fixed; */
    height: calc(100vh - 85px);
}
.Users{
    margin-top: 20px;
    cursor: pointer;
}
.Users span:hover{
    color: blue;
    text-decoration: underline;
}
.transaction-side-panel{
    background-color: rgb(198, 223, 246);
    width: 15%;
}
.transaction-side-panel p{
    display: flex;
    font-size: 30px;
    align-items: center;
}
.transaction-side-panel span{
    margin-left: 10px;
}
.transaction-navigation{
    margin-top: 30px;
}
.transaction-navigation p{
    margin-top: 40px;
    cursor: pointer;
    font-size: 20px;
    transition: 0.5s;
}
.transaction-navigation p :hover{
    color: blue;
    text-decoration: underline;
}

.transaction-maincontent{
    overflow-y: scroll;
    -ms-overflow-style: none;
    width: 85%;
}
.transaction-maincontent::-webkit-scrollbar { 
    width: 0 !important;
    display: none; 
  }
.transaction-container{
    padding: 0px 0px;
    background-color: #fff;
    height: calc(100vh - 85px);
    display: flex;
}



/* Media Queary */
@media screen and (max-width: 1496px) {
    .transaction-side-panel{
        width: 15%;
    }
}
@media screen and (max-width: 1389px){
    .appname{
        font-size: 20px;
    }
    .transaction-side-panel p{
        font-size: 25px;
    }
    .transaction-navigation p{
        font-size: 18px;
    }
}
@media screen and (max-width: 1197px){
    .appname{
        font-size: 18px;
    }
}