.order-container{
    padding: 20px 20px;
    background-color: #fff;
    height: calc(100vh - 15.8vh);
}
.order-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.order{
    background-color: rgba(234, 231, 228, 0.953);
    width: 30%;
    text-align: center;
    padding: 40px;
    font-size: 25px;
    border-radius: 5px;
    margin-top: 50px;
    cursor: pointer;
    transition: 0.5s;
}
.order:hover{
    background-color: rgb(236, 193, 193);
}
.order-list{
    margin-top: 30px;
    width: 100%;
}
th{
    font-size: 20px;
    padding: 5px;
    background-color: rgb(135, 197, 255);
}
td{
    text-align: center;
    font-size: 18px;
    padding: 8px;
    background-color: rgb(198, 223, 246);
}


/* Media Queary */
@media screen and (max-width: 1496px) {
    .order{
        width: 25%;
        margin-left: 1px;
        padding: 30px;
        font-size: 20px;
        margin-top: 40px;
    }    
}
@media screen and (max-width: 1221px) {
    .order{
        width: 25%;
        margin-left: 1px;
        padding: 25px;
        font-size: 18px;
        margin-top: 35px;
    }
    th{
        font-size: 18px;
    }
    td{
        font-size: 15px;
    }
}
@media screen and (max-width: 1060px) {
    .order{
        width: 30%;
        margin-left: 1px;
        padding: 25px;
        font-size: 18px;
        margin-top: 30px;
    }
}