.order-container{
    padding: 20px 20px;
    background-color: rgba(210, 197, 180, 0.752);
    height: calc(100vh - 15.8vh);
}
.order-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.order{
    background-color: rgba(234, 231, 228, 0.953);
    width: 30%;
    text-align: center;
    padding: 40px;
    font-size: 25px;
    border-radius: 5px;
    margin-top: 50px;
    cursor: pointer;
    transition: 0.5s;
}
.order:hover{
    background-color: rgb(244, 188, 115);
}
.order-list{
    margin-top: 30px;
    width: 100%;
}
th{
    font-size: 20px;
    padding: 5px;
    background-color: rgb(109, 187, 99);
}
td{
    text-align: center;
    font-size: 18px;
    padding: 8px;
    background-color: rgba(133, 183, 126, 0.674);
}