.storetransaction-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.storetransaction{
    background-color: rgba(234, 231, 228, 0.953);
    width: 25%;
    text-align: center;
    padding: 20px 0px;
    font-size: 25px;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.storetransaction:hover{
    background-color: rgb(236, 193, 193);
}
.storetransaction-list{
    margin-top: 30px;
    width: 100%;
    padding: 10px;
    padding-bottom: 150px;
}
.storetransaction-list th{
    font-size: 20px;
    padding: 15px;
    background-color: rgb(135, 197, 255);
}
.storetransaction-list td{
    text-align: center;
    font-size: 18px;
    padding: 10px;
    background-color: rgb(198, 223, 246);
}
.storetransaction-list p {
    text-align: center;
    width: 30px;
    margin-left: 20px;
    cursor: pointer;
}


/* Media Queary */
@media screen and (max-width: 1496px) {
    .storetransaction{
        width: 26%;
        padding: 18px 2px;
        font-size: 18px;
    }  
    
    .storetransaction-lis th{
        font-size: 15px;
    }
    .storetransaction-list td{
        font-size: 15px;
    }
}