.dashboard-container{

    padding: 20px 20px;
    background-color: #fff;
    height: calc(100vh - 15.8vh);
}
.dashboard-content{
    display: flex;
    /* border: 2px solid red; */
    flex-wrap: wrap;
    justify-content: space-around;
}
.active_order{
    background-color: rgba(234, 231, 228, 0.953);
    width: 30%;
    text-align: center;
    padding: 40px;
    font-size: 25px;
    border-radius: 5px;
    margin-top: 40px;
    cursor: pointer;
    transition: 0.5s;
}
.active_order:hover{
    background-color: rgb(236, 193, 193);
}


/* Media Queary */
@media screen and (max-width: 1496px) {
    .active_order{
        background-color: rgba(234, 231, 228, 0.953);
        width: 28%;
        padding: 25px;
        font-size: 20px;
        margin-top: 30px;
        margin-left: 1px;
    }
}
@media screen and (max-width: 1249px) {
    .active_order{
        background-color: rgba(234, 231, 228, 0.953);
        width: 25%;
        padding: 25px;
        font-size: 20px;
        margin-left: 1px;
    }
}
@media screen and (max-width: 1117px) {
    .active_order{
        background-color: rgba(234, 231, 228, 0.953);
        width: 25%;
        padding: 25px;
        font-size: 15px;
        margin-left: 1px;
    }
}

