.dashboard-container{

    padding: 20px 20px;
    background-color: #fff;
    height: calc(100vh - 15.8vh);
    /* height: 100%; */
}
.dashboard-content{
    display: flex;
    /* border: 2px solid red; */
    flex-wrap: wrap;
    padding-bottom: 150px;
}
.active_order{
    background-color: rgba(234, 231, 228, 0.953);
    width: 40%;
    text-align: center;
    padding: 25px;
    font-size: 25px;
    border-radius: 5px;
    margin-top: 25px;
    margin-left: 50px;
    cursor: pointer;
    transition: 0.5s;
}
.active_order:hover{
    background-color: rgb(236, 193, 193);
}


/* Media Queary */
@media screen and (max-width: 1496px) {
    .active_order{
        padding: 25px;
        font-size: 20px;
    }
}
@media screen and (max-width: 1249px) {
    .active_order{
        background-color: rgba(234, 231, 228, 0.953);
        padding: 20px;
        font-size: 20px;
    }
}
@media screen and (max-width: 1117px) {
    .active_order{
        background-color: rgba(234, 231, 228, 0.953);
        padding: 20px;
        font-size: 15px;
    }
}

