.usertransaction-content{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
    /* border: 2px solid yellow; */
    /* width: 1270px; */
}
.usertransaction{
    background-color: rgba(234, 231, 228, 0.953);
    width: 25%;
    text-align: center;
    padding: 20px 0px;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.usertransaction:hover{
    background-color: rgb(236, 193, 193);
}
.usertransaction-list{
    margin-top: 30px;
    width: 100%;
    padding: 10px;
    padding-bottom: 150px;
}
.usertransaction-list th{
    font-size: 20px;
    padding: 15px;
    background-color: rgb(135, 197, 255);
}
.usertransaction-list td{
    text-align: center;
    font-size: 18px;
    padding: 10px;
    background-color: rgb(198, 223, 246);
}
.usertransaction-list p {
    text-align: center;
    width: 30px;
    margin-left: 20px;
    cursor: pointer;
}

/* Media Queary */
@media screen and (max-width: 1496px) {
    .usertransaction{
        width: 25%;
        padding: 20px 0px;
        font-size: 20px;
        margin-top: 20px;
    }
    .usertransaction-list th{
        font-size: 18px;
    }
    .usertransaction-list td{
        font-size: 15px;
    }
}
