.subAdmin-container{
    padding: 20px 20px;
    background-color: #fff;
    height: calc(100vh - 15.8vh);
}
.subAdmin-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.subAdmin{
    background-color: rgba(234, 231, 228, 0.953);
    width: 30%;
    text-align: center;
    padding: 40px;
    font-size: 25px;
    border-radius: 5px;
    margin-top: 50px;
    cursor: pointer;
    transition: 0.5s;
}
.subAdmin:hover{
    background-color: rgb(236, 193, 193);
}
.subAdmin-list{
    margin-top: 30px;
    width: 100%;
    padding-bottom: 150px;
}
.subAdmin-list th{
    font-size: 20px;
    padding: 15px;
    background-color: rgb(135, 197, 255);
}
.subAdmin-list td{
    text-align: center;
    font-size: 18px;
    padding: 10px;
    background-color: rgb(198, 223, 246);
}
.subAdmin-list p {
    text-align: center;
    width: 30px;
    margin-left: 20px;
    cursor: pointer;
}


/* Media Queary */
@media screen and (max-width: 1496px) {
    .subAdmin{
        width: 25%;
        margin-left: 1px;
        padding: 30px;
        font-size: 22px; 
        margin-top: 30px;
    }
    .subAdmin-list th{
        font-size: 18px;
    }
    .subAdmin-list td{
        font-size: 16px;
    }
}
@media screen and (max-width: 1357px) {
    .subAdmin{
        width: 25%;
        margin-left: 1px;
        padding: 25px;
        font-size: 20px; 
        margin-top: 30px;
    }
}