.main-Container{
    /* border: 2px solid red; */
    display: flex;
    height: 100vh;
}

/* Side Panel */
.side-panel{
    /* border: 2px solid rgb(49, 49, 49); */
    width: 15%;
    position: fixed;
    top: 0;
}
.side-panel .panel-header {
    background-color: rgb(236, 193, 193);
    font-size: 30px;
    text-align: center;
    padding: 20px;
}
.panel-header h3{
    color: rgb(52, 52, 238);
}
.panel-header h4{
    padding-top: 10px;
}
.panel-navigation{
    background-color: rgb(198, 223, 246);
    height: calc(100vh - 16vh);
    padding-top: 10px;
}
.panel-navigation p{
    display: flex;
    font-size: 25px;
    cursor: pointer;
    margin-top: 40px;
    padding-left: 40px;
    transition: .8s;
}
.panel-navigation span:hover{
    color: blue;
    text-decoration: underline;
}
.panel-navigation span{
    margin-left: 15px;
}
.Container{
    /* border: 4px solid rgb(0, 244, 16); */
    width: 85%;
}


/* Header */
.header{
    /* border: 2px solid rgb(81, 0, 255); */
    height: 122px;
    width: 85%;
    position: fixed;
    left: 228px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: end;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.header .logout-btn{
    font-size: 20px;
    padding: 12px 40px;
    border-radius: 4px;
    background-color: rgba(255, 42, 42, 0.945);
    color: #fff;
    border: none;
    margin-right: 40px;
    transition: 0.3s;
    cursor: pointer;
}
.header .logout-btn:hover {
    background-color: red;
}

/* Main Content Container */
.main-content{
    /* border: 2px solid rgb(255, 0, 247); */
    height: calc(100vh - 16vh);
    width: 100%;
    margin-left: 228px;
    margin-top: 120px;
}



/* Media Queary */
@media screen and (max-width: 1500px) {
    .side-panel .panel-header {
        font-size: 20px;
    }
    .panel-navigation p{
        font-size: 20px;
        margin-top: 20px;
    }
    .header{
        height: 100px;
    }
    .header .logout-btn{
        font-size: 17px;
        padding: 10px 30px;
    }
}
@media screen and (max-width: 1265px){
    .side-panel{
        /* border: 2px solid rgb(49, 49, 49); */
        width: 20%;
    }
}
@media screen and (max-width: 1045px){
    .side-panel{
        /* border: 2px solid rgb(49, 49, 49); */
        width: 25%;
    }
}
@media screen and (max-width: 891px){
    .side-panel{
        /* border: 2px solid rgb(49, 49, 49); */
        width: 30%;
    }
}
@media screen and (max-width: 741px){
    .side-panel{
        /* border: 2px solid rgb(49, 49, 49); */
        width: 35%;
    }
}
@media screen and (max-width: 666px){
    .side-panel{
        /* border: 2px solid rgb(49, 49, 49); */
        width: 40%;
    }
}