textarea{
    resize:none;
    overflow-y: scroll;
    margin-left: 50px;
    width: 600px;
    outline: none;
    border: none;
    padding: 10px 15px;
    font-size: 15px;
}
textarea::-webkit-scrollbar { 
    width: 0 !important;
    display: none; 
  }
.notification-modal-wrapper {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(243, 242, 242, 0.859);
  }
  .notification-modal-container {
    left: 320px;
    bottom: 150px;
    position: fixed;
    padding: 10px;
    background-color: rgba(219, 218, 218, 0.999);
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
      rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
      rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    width: 60%;
    /* border: 2px solid green; */
  }
  .close-btn {
    display: flex;
    justify-content: flex-end;
  }
  #closemodal-btn {
    font-size: 40px;
    cursor: pointer;
    transition: 0.3s;
  }
  #closemodal-btn:hover {
    color: red;
  }
  .notification-modal-form {
    /* border: 2px solid pink; */
    padding: 20px;
  }
  label {
    font-size: 25px;
  }
  #notificationtitle-text {
    padding: 10px;
    margin-left: 130px;
    outline: none;
    font-size: 15px;
    border: none;
    border-radius: 3px;
    width: 70%;
  }
  .notificationyoutubelink {
    padding-top: 20px;
  }
  #notificationpaste-link {
    margin-left: 40px;
    padding: 10px;
    outline: none;
    font-size: 15px;
    border: none;
    border-radius: 3px;
    width: 70%;
  }
  .notificationmodalsave-btn {
    display: flex;
    text-align: center;
    /* justify-content: center; */
    padding-top: 20px;
  }
  .notificationsave-btn {
    color: #fff;
    margin-left: 210px;
    background-color: rgba(0, 128, 0, 0.742);
    transition: 0.3s;
  }
  .notificationsave-btn:hover {
    background-color: green;
  }
  
  .notificationtextarea{
    display: flex;
    align-items: center;
    padding-top: 20px;
  }