.cat_modal-wrapper{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(243, 242, 242, 0.859);
}
.cat_modal-container{
    /* right:250px; */
    left: 320px;
    bottom: 85px;
    position: fixed;
    padding: 10px;
    background-color: rgba(219, 218, 218, 0.999);
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    width: 60%;
    /* border: 2px solid green; */
}
.cat_close-btn{
    display: flex;
    justify-content: flex-end;
}
#cat_closemodal-btn{
    font-size: 40px;
    cursor: pointer;
    transition: 0.3s;
}
#closemodal-btn:hover{
    color: red;
}
.cat_modal-form{
    /* border: 2px solid pink; */
    padding: 20px;
}
label{
    font-size: 20px;
}
#product_name{
    padding: 10px;
    margin-left: 50px;
    outline: none;
    font-size: 15px;
    border: none;
    border-radius: 3px;
    width: 50%;
}
.cat_image-section{
    display: flex;
    padding-top: 20px;
}
.cat_image-container{
    /* border: 2px solid red; */
    width: 300px;
    height: 200px;
    margin-left: 50px;
    border-style: dotted;
    background-color: rgb(243, 246, 249);
    display: flex;
    justify-content: center;
    align-items: center;
}
.cat_image-container img{
    /* border: 2px solid blue; */
    width: 100%;
    height: 100%;
    overflow: hidden;
}


.cat_modalsave-btn{
    display: flex;
    text-align: center;
    /* justify-content: center; */
    padding-top: 20px;
}
.cat_save-btn{
    color: #fff;
    margin-left: 190px;
    background-color: rgba(0, 128, 0, 0.742);
    transition: 0.3s;
}
.save-btn:hover{
    background-color: green;
}
