#arrow{
    position: relative;
    top: 5px;
    cursor: pointer;
}
.Notification-content{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
    /* border: 2px solid yellow; */
    width: 100%;
}
.Notifications{
    background-color: rgba(234, 231, 228, 0.953);
    width: 25%;
    text-align: center;
    padding: 20px 0px;
    font-size: 25px;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.Notifications:hover{
    background-color: rgb(236, 193, 193);
}
.Notification-list{
    margin-top: 30px;
    width: 100%;
    padding: 10px;
}
.Notification-list th{
    font-size: 20px;
    padding: 15px;
    background-color: rgb(135, 197, 255);
}
.Notification-list td{
    text-align: center;
    font-size: 18px;
    padding: 10px;
    background-color: rgb(198, 223, 246);
}
.Notification-list p {
    text-align: center;
    width: 30px;
    margin-left: 20px;
    cursor: pointer;
}
.Notificationcategoriefilter{
    margin-top: 15px;
}



/* Media Queary */
@media screen and (max-width: 1496px) {
    .Notifications{
        width: 20%;
        font-size: 20px;
    }
    .Notification-list th{
        font-size: 18px;
    }
    .Notification-list td{
        font-size: 15px;
    }
}
@media screen and (max-width: 1184px){

}
@media screen and (max-width: 1166px){

}