.driver-container{
    padding: 8px 20px;
    background-color: #fff;
    height: calc(100vh - 15.8vh);
}
.driver-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.driver{
    background-color: rgba(234, 231, 228, 0.953);
    width: 30%;
    text-align: center;
    padding: 40px;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 50px;
    cursor: pointer;
    transition: 0.5s;
}
.driver:hover{
    background-color: rgb(236, 193, 193);
}
.driver-list{
    margin-top: 30px;
    width: 100%;
    padding-bottom: 150px;
}
.driver-list th{
    font-size: 20px;
    padding: 15px;
    background-color: rgb(135, 197, 255);
}
.driver-list td{
    text-align: center;
    font-size: 18px;
    padding: 10px;
    background-color: rgb(198, 223, 246);
}
.drivercategoriefilter{
    margin-top: 15px;
}


/* Media Queary */
@media screen and (max-width: 1496px) {
    .driver{
        width: 25%;
        padding: 30px;
        font-size: 20px;
        margin-top: 40px;
        margin-left: 1px;
    }
    .driver-list th{
        font-size: 18px;
    }
    .driver-list td{
        font-size: 15px;
        padding: 10px;
    }
}
@media screen and (max-width: 1260px) {
    .driver{
        width: 25%;
        padding: 25px;
        font-size: 18px;
        margin-top: 30px;
        margin-left: 1px;
    }
    .driver-list th{
        font-size: 16px;
    }
    .driver-list td{
        font-size: 15px;
    }
}