.user-banner-header{
    /* border: 2px solid red; */
    height: 50px;
    margin-top: 4px;
}
#filter{
    position: relative;
}
.banner-para-header{
    position: relative;
    top: -35px;
    left: 30px;
    width: 150px;
    display: flex;
    
    font-size: 22px;
    /* border: 2px solid ; */
}
#backToBanner{
    cursor: pointer;
    transition: 0.2s;
}
#backToBanner:hover{
    color: red;
}
.user-banner-content{
    /* border: 2px solid green; */
    display: flex;
    align-items: center;
    padding: 20px 70px;
}
.background-image{
    /* border: 2px solid red; */
    width: 420px;
    height: 220px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background: url('../../../assets/banner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.learn-more-btn{
    margin: 10px 20px 10px 50px;
    color: #000;
    font-size: medium;
    background-color: #ffffffcf;
    transition: 0.3s;
}
.learn-more-btn:hover{
    background-color: #fff;
}
.addicon{
    background-color: rgba(0, 128, 0, 0.834);
    border-radius: 3px;
    width: 60px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 60px;
    cursor: pointer;
}
.Banner-content{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
    /* border: 2px solid yellow; */
    width: 100%;
}
.Banners{
    background-color: rgba(234, 231, 228, 0.953);
    width: 25%;
    text-align: center;
    padding: 20px 0px;
    font-size: 25px;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.Banners:hover{
    background-color: rgb(236, 193, 193);
}
.UserBanner-list{
    margin-top: 30px;
    width: 100%;
    padding: 10px;
}
.UserBanner-list th{
    font-size: 20px;
    padding: 15px;
    background-color: rgb(135, 197, 255);
}
.UserBanner-list td{
    text-align: center;
    font-size: 18px;
    padding: 10px;
    background-color: rgb(198, 223, 246);
}
.UserBanner-list p {
    text-align: center;
    width: 30px;
    margin-left: 20px;
    cursor: pointer;
}
.Bannercategoriefilter{
    margin-top: 15px;
}
#createicon{
    color: green;
    cursor: pointer;
}
#deleteicon{
    color: rgb(255, 0, 0);
    margin-left: 30px;
    cursor: pointer;
}




/* Media Queary */
@media screen and (max-width: 1496px) {
    .Banners{
        width: 20%;
        font-size: 20px;
    }
    .Banner-list th{
        font-size: 18px;
    }
    .Banner-list td{
        font-size: 15px;
    }
}
@media screen and (max-width: 1184px){

}
@media screen and (max-width: 1166px){

}