.support-modal-wrapper {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(243, 242, 242, 0.859);
  }
  .support-modal-container {
    left: 320px;
    bottom: 150px;
    position: fixed;
    padding: 10px;
    background-color: rgba(219, 218, 218, 0.999);
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
      rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
      rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    width: 60%;
    /* border: 2px solid green; */
  }
  .close-btn {
    display: flex;
    justify-content: flex-end;
  }
  #closemodal-btn {
    font-size: 40px;
    cursor: pointer;
    transition: 0.3s;
  }
  #closemodal-btn:hover {
    color: red;
  }
  .support-modal-form {
    /* border: 2px solid pink; */
    padding: 20px;
  }

  .personal-details{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  .support-modal-form input{
    padding: 10px 10px;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 3px;
  }
  .support-modal-form hr{
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .chat-container{
    /* border: 2px solid red; */
  }
  .chat-container h5{
    /* border: 2px solid red; */
    padding: 10px 50px;
    font-size: 15px;
    font-weight: 500;
    background-color: #fff;
    border-radius: 3px;
  }
  .chat-content{
    /* border: 2px solid green; */
    padding: 20px;
    overflow-y: scroll;
    height: 200px;
  }
  .chat-content::-webkit-scrollbar{
    width: 0 !important;
    display: none;
  }
  .chat-to-system{
    /* border: 2px solid pink; */
    display: flex;
    margin-bottom: 2px;
  }

  .user-chat{
    /* border: 2px solid yellow; */
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-bottom: -8px;
  }

  .msg-area textarea{
    margin-left: 0;
    height: 45px;
    overflow-y: scroll;
    padding: 12px 10px;
    border-radius: 3px;
  }
  .msg-box{
    /* border: 2px solid yellow; */
    padding: 0px 20px;
    margin-top: 20px;
  }
  .msg-area textarea::-webkit-scrollbar{
    width: 0 !important;
    display: none;
  }
  #sendicon{
    color: green;
    font-size: 40px;
    margin-left: 10px;
    cursor: pointer;
  }
  .msg-area{
    display: flex;
    align-items: center;
  }
  