.User-container{
    padding: 20px 20px;
    background-color: #fff;
    height: calc(100vh - 15.8vh);
}
.User-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.User{
    background-color: rgba(234, 231, 228, 0.953);
    width: 30%;
    text-align: center;
    padding: 40px;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 50px;
    cursor: pointer;
    transition: 0.5s;
}
.User:hover{
    background-color: rgb(236, 193, 193);
}
.User-list{
    margin-top: 30px;
    width: 100%;
    padding-bottom: 170px;
}
.User-list th{
    font-size: 20px;
    padding: 15px;
    background-color: rgb(135, 197, 255);
}
.User-list td{
    text-align: center;
    font-size: 18px;
    padding: 10px;
    background-color: rgb(198, 223, 246);
}
.User-list p {
    text-align: center;
    width: 30px;
    margin-left: 20px;
    cursor: pointer;
}
.Useraddnewbtn{
    width: 100%;
    display: flex;
    justify-content: right;
    margin-top: 20px;
}
button{
    padding: 8px 25px;
    font-size: 20px;
    outline: none;
    border: none;
    border-radius: 3px;
    background-color: rgba(94, 145, 247, 0.766);
    transition: 0.3s;
    cursor: pointer;
    margin-right: 80px;
    display: flex;
    color: rgba(0, 0, 0, 0.852);
}
button:hover{
    background-color: rgb(34, 105, 248);
}
.User-list img{
    height: 25px;
    width: 25px;
    margin-left: 10px;
}



/* Media Queary */
@media screen and (max-width: 1496px) {
    .User{
        width: 25%;
        padding: 30px;
        font-size: 20px;
        margin-top: 40px;
    }   
    .User-list th{
        font-size: 18px;
    }
    .User-list td{
        font-size: 15px;
    }
    button{
        padding: 6px 20px;
        font-size: 18px;
    }
}
