.delivery-container{
    padding: 8px 20px;
    background-color: #fff;
    height: calc(100vh - 15.8vh);
}
.delivery-list{
    margin-top: 30px;
    width: 100%;
    padding-bottom: 150px;
}
.delivery-list th{
    font-size: 20px;
    padding: 15px;
    background-color: rgb(135, 197, 255);
}
.delivery-list td{
    text-align: center;
    font-size: 18px;
    padding: 10px;
    background-color: rgb(198, 223, 246);
}
select{
    outline: none;
    border: none;
    padding: 5%;
    letter-spacing: 1.2px;
    background-color: rgb(198, 223, 246);
}
